# Pandas Leistungsnachweis

## Inhaltsverzeichnis
1. Fragestellung und Datenbeschaffung
2. Daten laden
3. Daten vorbereiten
4. Statistik der Rohdaten (Generell im Longformat)
5. Analyse der Daten

**Wichtig:** Alle graphischen Darstellungen sollten mindestens *Titel, Ticks- und Achsenbeschriftung* beinhalten (Siehe plots im Leistungsnachweisbeispiel)

## 1. Fragestellungen und Datenbeschaffung
### 1.1 Titel: 
- "Mütterliche Sterblichkeitsraten der Weltbevölkerung"
### 1.2 Fragestellung:
- "Welche zehn Länder zeigen in den letzten 20 Jahren die höchste müttlerliche Sterblichkeitsrate? Was sind mögliche Gründe für Veränderungen dieser Zahlen?"   
### 1.3 Datenquellen:
- [Maternal-Mortality](https://ourworldindata.org/maternal-mortality)

### 1.4 Daten beschaffen und laden

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('number-of-maternal-deaths-by-region.csv', skiprows=1,
                 names=['Entity','Code','Year','Estimated maternal deaths']) 
df.head()

        Entity Code  Year  Estimated maternal deaths
0  Afghanistan  AFG  1985                 10258.5340
1  Afghanistan  AFG  1986                  8671.9210
2  Afghanistan  AFG  1987                  8488.9600
3  Afghanistan  AFG  1988                  7522.1216
4  Afghanistan  AFG  1989                  7549.7050

## 2. Daten vorbereiten 
- Welches Format hat mein Datensatz bzw. wie sind meine Kolumnen strukturiert?
- Welches Format kann ich für welche Teilschritte verwenden (wann soll ich pivot bzw. wide format verwenden)?
- Welche Datentypen kommen in meinem Datensatz vor?

In [5]:
df_pivot = df.pivot(index='Entity', columns='Year', values='Estimated maternal deaths')
df_pivot.head()

Year,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Entity,,,,,,,,,,,,,,,,,,,,,
Afghanistan,10258.534000,8671.92100,8488.960000,7522.121600,7549.705000,7812.458500,7743.889000,8404.729500,9554.33700,10849.466000,...,10233.407000,10143.417000,10242.153000,10013.264000,10208.116000,9867.574000,9081.677000,8996.077000,8878.076000,8698.113000
Africa,222858.480000,221952.14000,233024.190000,231802.620000,225753.340000,227292.120000,228749.750000,239266.810000,240080.67000,234074.690000,...,221603.270000,218967.640000,218840.140000,218810.920000,215300.660000,214324.380000,213705.030000,213123.270000,211770.300000,207742.580000
Albania,40.066902,35.25017,32.930653,30.484293,28.652466,26.628704,22.968624,21.309374,19.88659,17.938005,...,2.815829,2.728846,2.597531,2.453451,2.338617,2.196508,2.073806,1.628788,1.591507,2.482934
Algeria,2187.816200,2024.16060,1966.334100,1822.979900,1744.921300,1615.685300,1601.330400,1608.767300,1586.66430,1540.073000,...,957.606700,938.247740,905.703100,848.591900,895.783140,904.216700,908.372700,802.861200,763.307700,757.524200
Angola,5698.489000,5832.26000,5653.750500,5821.093800,6489.137700,6675.125000,6577.188500,7266.202600,7125.99270,7074.371000,...,3595.014200,3353.565700,3292.978000,3372.599400,3231.174800,3251.374300,3112.027800,2930.020000,2923.500700,2913.632300

## 3. Statistik der Rohdaten (Analyse im Long-Format)
- Ist meine Variable kontinuierlich oder diskret? Falls diskret, wieviele einzigartige Klassen gibt es? Wieviele Datenpunkte pro Klasse sind vorhanden?
- Anzahl Datenpunkte (Beschreibend und Graphische Darstellung)
    - Wieviele Datenpunkte sind für die bestimmten Variabeln vorhanden?
    - Wo fehlen Datenpunkte?
- Wie ist die Verteilung der zu untersuchenden Variabel(n) (Histogram, Boxplot, Säulendiagram)
- Vermutest du Zusammenhänge zwischen zwei Variabeln (Streuungsdiagramm, Korrelationsmatrix)

*Notiz: Zu jeder Kolumne sollte generell eine Aussage möglich sein.*

## 4. Analyse 

### Vorgehen
- Spezifische Untersuchung der Fragestellung (Berechnungen)
- Visualisieren der Resultate: Verwendet Achsenbeschriftung und überlegt euch, welche Art von Darstellung sinnvoll ist (Kuchen-, Säulen, Liniendiagramm; 2 y-Achsen?)
- Beschreiben der Beobachtungen
- Interpretation der Resultate (Hypothesen zu den Resultaten)
- Untermauern der Interpretation mittels Hinweise zur Literatur (Mögliche Zusammenhänge aufzeigen).